RewriteEngine On
#php_value max_execution_time 3600

RewriteRule ^([A-Za-z0-9]+)$ index.php?page=$1
RewriteRule ^([A-Za-z0-9]+)/([A-Za-z0-9]+)$ index.php?page=$1&action=$2
RewriteRule ^([A-Za-z0-9]+)/([A-Za-z0-9]+)/([A-Za-z0-9]+)$ index.php?page=$1&action=$2&value=$3
RewriteRule ^([A-Za-z0-9]+)/([A-Za-z0-9]+)/([A-Za-z0-9]+)/([A-Za-z0-9]+)$ index.php?page=$1&action=$2&value=$3&slug=$4

# Ref Link
# RewriteRule ^view/([0-9]+)/([0-9]+)/(dw_.*)/(m_.*)$ display.php?menuId=$1&prntId=$2&flag=$3&id=$4

#ErrorDocument 404 /sizzler/config/404.php
#ErrorDocument 403 /sizzler/config/403.php